<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet" href="next.css">
</head>
<body>
    <div class="box">
        <p class="ch">Nearby Charity boxes for cats</p>
        <div class="cards">
            <div class="card">
                <p class="text">M.U district, Yalang'och ko'chasi-15</p>
                <p class="metr">300 meter</p>
                <a href="#" class="arr">
                    <img src="images/right-arrow.png" alt="">
                </a>
            </div>
            <div class="card">
                <p class="text">Yakkasaroy district, Islom Karimov ko'chasi </p>
                <p class="metr">500 meter</p>
                <a href="#" class="arr">
                    <img src="images/right-arrow.png" alt="">
                </a>
            </div>
            <div class="card dog">
                <p class="text">Shayxontohir district, Alisher Navoiy ko'chasi</p>
                <p class="metr">300 meter</p>
                <a href="#" class="arr">
                    <img src="images/right-arrow.png" alt="">
                </a>
            </div>a
        </div>
        <div class="btn">thank you for supporting planet</div>
    </div>
</body>
</html>
